
.heart {
    background-color: crimson;
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    position: absolute;
    left: 45%; 
    top: 45%;
    animation: heartbeat 1.25s infinite;
  }
  .heart::before,
  .heart::after {
    content: "";
    background-color: crimson;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    animation: pulsecolor 1.25s infinite;
  }
  .heart::before {
    top: -100px;
    left: 0;
  }
  
  .heart::after {
    top: 0;
    left: 100px;
  }
  .right-eye {
    position: absolute;
    height: 15px;
    width: 15px;
    z-index: 1;
    border-radius: 50%;
    background-color: #000000;
    right: 60px;
    top: -10x;
    animation: blink 1s infinite;
  .right-eye::before {
    top: -50px;
    right: 0;
  }
  .right-eye::after {
    top: 0;
    right: 50px;
  }
   span {
        position: absolute;
        transition: all 0.3s;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        margin-top: 5px;
        background: #000;
        border-radius: 50%;
      }
  }
  .left-eye {
    position: absolute;
    height: 15px;
    width: 15px;
    z-index: 1;
    border-radius: 50%;
    background-color: #000000;
    left: 175px;
    bottom: 137px;
    animation: blink 1s infinite;
  }
  .left-eye::before {
    top: -50px;
    right: 0;
  }
  .left-eye::after {
    top: 0;
    right: 50px;
  }
  .mouth {
    position: absolute;
    height: 10px;
    width: 65px;
    border-radius: 50%;
    background-color: #000000; 
    align-item: center;
    bottom: 70%;
    left: 50%;
    z-index: 2;
    transform: rotate(45deg);
  }
  @keyframes heartbeat {
    0% {
      transform: scale(1)
                 rotate(-45deg);
      }
    10% {
      transform: scale(1.25)
                 rotate(-45deg);
      background-color: #ef3953;
      }
    100% {
        transform: scale(1)
                   rotate(-45deg);
    }
  }
  
  @keyframes pulsecolor {
    10% {
    background-color: #ef3953;
    }
  }
  
  @keyframes blink {
   0%, 100% {
          transform: scale(1, .05);
      }
      5%,
      95% {
          transform: scale(1, 1);
      }
  }
  html,body {
    background-color: #212121;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .pulse {
    height: 100px;
    width: 200px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;
    margin: auto;
  }
  .pulse:after {
    content: "";
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200px 100px"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: 2s pulse infinite linear;
            animation: 2s pulse infinite linear;
  }
  .pulse:before {
    content: "";
    background: #444;
    position: absolute;
    z-index: -1;
    left: 2px;
    right: 2px;
    bottom: 0;
    top: -200px;
    height: 3px;
  }
  
  @-webkit-keyframes pulse {
    0% {
      clip: rect(0, 0, 100px, 0);
    }
    10% {
      clip: rect(0, 66.6666666667px, 100px, 0);
    }
    38% {
      clip: rect(0, 133.3333333333px, 100px, 0);
    }
    48% {
      clip: rect(0, 200px, 100px, 0);
    }
    52% {
      clip: rect(0, 200px, 100px, 0);
    }
    62% {
      clip: rect(0, 200px, 100px, 66.6666666667px);
    }
    90% {
      clip: rect(0, 200px, 100px, 133.3333333333px);
    }
    100% {
      clip: rect(0, 200px, 100px, 200px);
    }
  }
  
  @keyframes pulse {
    0% {
      clip: rect(0, 0, 100px, 0);
    }
    10% {
      clip: rect(0, 66.6666666667px, 100px, 0);
    }
    38% {
      clip: rect(0, 133.3333333333px, 100px, 0);
    }
    48% {
      clip: rect(0, 200px, 100px, 0);
    }
    52% {
      clip: rect(0, 200px, 100px, 0);
    }
    62% {
      clip: rect(0, 200px, 100px, 66.6666666667px);
    }
    90% {
      clip: rect(0, 200px, 100px, 133.3333333333px);
    }
    100% {
      clip: rect(0, 200px, 100px, 200px);
    }
  }